
    body {
        font-family:'Raleway',sans-serif;
        font-size:1.5em;line-height:1.5
    }

h1{
    font-family: 'Lora';
    text-decoration: underline;
    font-size: 2em;
    letter-spacing: 3px;

}
ul{
    text-transform: capitalize;
}

    ul li {
        list-style:none
    }
