body{
    font-family: Arial, Helvetica, sans-serif;
}
a{
    color: orange;
}
a:hover{
    text-decoration: none;
}
a:visited{
    color: green;
}
p:first-child{
    color: red;
    font-size: 150%;
}
tr:nth-child(even){
    background-color: #333;
    color: white;


}
th{
    font-size: 120%;;
}