body {
    font-family: Arial, Helvetica, sans-serif;
}

#special {
    background-color: yellow;
}

.alert {
    border: 1px gray;
    border-style: solid;
}

.stop {
    background-color: red;
}

.alert.go {
    background-color: green;
}