body{
    margin:0 2%;
    padding: 0;
}

#container{
    width: 400px;
    height: 400px;
    border:5px solid black;
}
.box{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 1px solid black;
}
.box:nth-child(1){
    background-color: red;
    position: relative;
    top:3px;
    left:3px;
}
.box:nth-child(2){
    background-color: yellow;
    position: absolute;
    bottom:620px;
    left:330px;
}
.box:nth-child(3){
    background-color: green;
    margin: 0 auto;
    position: absolute;
    top:148px;
    left:175px;
}
.box:nth-child(4){
        position: relative;
    background-color: purple;
    top:195px;
    left:3px;
    
}
.box:nth-child(5){
    background-color: blue;
    position: absolute;
    left:330px;
    top:300px;
}