.parent{
    width: 99%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid black;

}
.box{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3%;
    border: 4px solid black;
}

.box:nth-child(1){
    background-color: red;
}
.box:nth-child(2){
    background-color: blue;
}
.box:nth-child(3){
    background-color: green;
}
.box:nth-child(4){
    background-color: yellow;
}