* {
   box-sizing: border-box;
   outline: auto;
}
body{
   outline: none;
}
.div {
   outline: 5px;
}

.div1 {
   width: 50%;
   margin: 10px auto;
   padding: 10px;
   background-color: #ff0000;
}

.div2 {
   width: 50%;
   margin: 10px auto;
   padding: 10px;
   background-color: #00ff00
}

.div3 {
   width: 50%;
   margin: 10px auto;
   padding: 30px;
   background-color: #0000ff;
}

.div4 {
   width: 50%;
   margin: 50px auto;
   padding: 40px;
   background-color: white;
}