body{
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;;

    width: 100%;
}
textarea{
    resize: none;
}
input,textarea,select{
    border-radius: 5px;
}


